/* ----------------------------------------------- */
/* ---------------------BODY---------------------- */
/* ----------------------------------------------- */

#description_vinyl {
    margin: 20px;
    font-size: 1.2em;
}

#playlist {
 
    margin: 30px;
    line-height: 30px;
}