/* ----------------------------------------------- */
/* ---------------------FONT---------------------- */
/* ----------------------------------------------- */

@font-face {
    font-family:'Crimson';
    src: url(../fonts/CrimsonText-Regular.ttf);
}


/* ----------------------------------------------- */
/* ---------------------GENERAL------------------- */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    font-family: 'Crimson',Arial, Helvetica, sans-serif;
}
body {
    background-color: #DDDDDD;
}

#container-fluid{
    width: 100%;
}
/* ----------------------------------------------- */
/* ---------------------HEADER-------------------- */
/* ----------------------------------------------- */

#banner {
    position: fixed;
    width: 100%;
    background-color: #222831;
    border-bottom: 1px solid white;
    z-index: 999;
}

#logo {
    margin-left: 10px; 
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#hamburgerMenu {
    display: none;
    position: relative; 
}

#hamburgerMenu:checked ~ nav {
    transition: 0.5s;
    top: 54px;
}

#navBurger {
    position: absolute;
    display: flex;
    width: 100%;
    text-align: center;
    top: -500px;
    transition: 0.5s;
    z-index: -1;
}

#navBurger ul {
    background-color: #222831 ;
    width: 100%;
    text-transform: uppercase;
  
}

#navBurger ul li {
    text-align: center;
    list-style-type: none;
    padding: 10px;
    height: 100px;   
}

#navBurger ul li a {
    display: inline-block;
    color: white;
    padding: 40px 140px;
    text-decoration: none;
}

#navBurger ul li a:hover {
    color: #F05454;
}

#navBurger ul li a:active {
    color: #F05454;
    border-bottom: 2px solid #F05454;
}

#mainNavbar {
    display: none;
}
/* ----------------------------------------------- */
/* ---------------------BODY---------------------- */
/* ----------------------------------------------- */

h3 {
    text-align: center;
    color: #DDDDDD;
    padding-top: 3px;
}

#container-pub {
    width: 100%;
    border: 4px solid;
}



.frame {
    width: 150px;
    height: 30px;
    margin:5px 20px 0 10px;
    background-color: #222831;
    transform: skew(-20deg);
}

/* ----------------CATEGORIES------------------ */

#sticky_menu {
    position: relative;
}

#sticky_menu ul li {
    padding: 5px;
    text-align: center;
    list-style-type: none; 
    transform: skew(-20deg);
}

#sticky_menu a {
    position: relative;
    text-decoration: none;
    padding: 5px 100px;
    color: #222831;
    font-size: 1.2em;
    font-weight: 700;
}

#sticky_menu a::before {
    position: absolute;
    content: " ";
    color: #DDDDDD;
    background-color: #222831;
    inset: 0;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.4s;
    z-index: -1;
}

#sticky_menu a:hover {
    color: #DDDDDD;
}

#sticky_menu a:hover::before {
    color: #DDDDDD;
    transform: scaleX(1);
    transform-origin: left;
}

#sticky_menu a:active {
    background-color: #222831;
    color: #F05454;

}

/* ----------NOUVEAUTES & PROMOTIONS---------- */
.frame_vinyl{  
    margin: 20px auto;
    box-sizing: border-box;
    width: 80%;
    border: 2px solid lightgrey;
}
.vinyl {
    position: relative;
    margin: 10px auto;
}

.album_cover{
    margin: auto;
    width: 80%;
}

.album_cover img {
    width: 100%;
}

.animation_vinyl {
   display: none;
}

.price {
    text-align: center;
    margin: auto;
}
.price a {
    text-decoration: none;
    color: #222831;
    font-size: 1.5em;
    padding: 5px;
    font-weight: 700;
}
.price a:hover {
    color: #F05454;
}
.discount {
    font-size: 1em;
    text-decoration: line-through;
    color: red;
    margin-right: 10px;
}

/* -----------AVIS CLIENTS------------- */


#container_reviews {
    position: relative ;
    width: 100%;
    height: 220px;
    overflow: hidden;    
}

@keyframes movingReviews {
    0% {
        transform: translateY(-30px);
    }
    5%{
        transform: translateY(-30px);
    }
    33% {
        transform: translateY(-230px);
    }
    66% {
        transform: translateY(-430px);
    }
    100% {
        transform: translateY(-630px);
    }
}

.customers_reviews {
    position: relative;
    margin: 60px auto 100px auto;
    animation: 20s infinite alternate forwards movingReviews;
}

.frame_reviews {
    position: relative;
    margin: auto;
    width: 350px;
    height: 100px;
    top: 25px;
    left:15px;
    padding-left: 100px;
    border: 1px solid #222831;
    background-color: lightgrey;
    
}



.img_customers {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid #F05454;
    border-radius: 50%;
    top: -25%;
    left: -15%;
}

#picture_customers1 {
    background-image: url(../img/profil/female2_profil.jpg);
    background-size: 110%;
    background-position: 50% 45%;
}

#picture_customers2 {
    background-image: url(../img/profil/male_profil.jpg);
    background-size: 110%;
    background-position: 50% 45%;
}

#picture_customers3 {
    background-image: url(../img/profil/male2_profil.jpg);
    background-size: 110%;
    background-position: top;
}

#picture_customers4 {
    background-image: url(../img/profil/female_profil.jpg);
    background-size: 110%;
    background-position: 50% 45%;
}

.name_customers {
    margin: 15px 0;
    font-weight: bold;
    font-size: larger;
}

.rate {
    position: absolute;
    display: inline-block;
    top: 5%;
    left: 80%;
    font-weight: 700;
}

/* ----------------------------------------------- */
/* --------------------FOOTER--------------------- */
/* ----------------------------------------------- */

footer {
    position: relative;
    background-color: #222831;
    text-align: center;
}

#social_media {
    padding: 10px 0;
}

#social_media a {
    margin: 10px 20px;
    transition: 0.5s;
} 

#social_media a:hover {
    opacity: 0.6;
}

#legal_mentions {
    padding: 10px;
}

#legal_mentions a {
    text-decoration: none;
    color: #DDDDDD;
}

#legal_mentions span {
    color: #DDDDDD;
}

#legal_mentions a:hover {
    color: #F05454;
}

/* ----------------------------------------------- */
/* ----------------MEDIA QUERIES------------------ */
/* ----------------------------------------------- */



@media screen and (min-width:700px){
    
    /* --------------MAIN-------------- */

    .products {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .frame_vinyl{
       flex: 1 0 350px;
    }
}

@media screen and (min-width:900px) {

    /* -----------GENERAL--------------- */

    html {
        scroll-behavior: smooth;
    }

    #container-fluid {
        width: 70%;
        margin: auto;
    }

    /* -------------HEADER-------------- */

     #navbar {
        width: 70%;
        margin: auto;
     }

     #burgerMenu {
        display: none;
     }

     #mainNavbar {
        display: initial;
     }

     #mainNavbar ul {
        display: flex;
        align-items: center;
     }

     #mainNavbar ul li {
        text-align: center;
        list-style-type: none;
     }

     #mainNavbar ul li a {
        position: relative;
        color: white;
        text-decoration: none;
        padding: 10px 25px;
        font-size: 1em;
        text-transform: uppercase;
     }

    #mainNavbar ul li:last-child {
        margin-left: 20px;
        transition: 0.5s;
    }

     #mainNavbar ul li:last-child a img {
        position: absolute;
        top: -5px;
        right: 0px;   
     }

     #mainNavbar ul li a:hover {
        color: #F05454;
        transition: 0.5s;
     }

     #mainNavbar ul li:last-child:hover {
        opacity: 0.6;
     }


    /* --------------MAIN-------------- */

    .frame_vinyl {
        width: 33%;
        flex: none;
        border: none;
    }
    .album_cover {
        position: relative;
        width: 70%;
        margin: auto;
        transition: 0.5s;
    }

    .vinyl {
        width: 100%;
        margin: auto;
    }

    .animation_vinyl {
        position: absolute;
        display: initial;
        width: 72%;
        top: -0%;
        left:15%;
        z-index: -1;
        transition: 0.5s;
    }

    .animation_vinyl img {
        width: 96%;
    }
    .price {
        margin: 15px;
    }
    
    .album_cover:hover {
        transition: 0.5s;
        transform: translateX(-17%);
    }
    .album_cover:hover ~ .animation_vinyl {
        transition: 0.5s;
        transform: translateX(17%);
    }
    /* --------------------FOOTER--------------------- */

    #back-top {
        position: absolute;
        top: -50%;
        right: 5%;
    }
}
@media screen and (min-width:1200px) {
/* 


-----------MAIN---------------------
    #category_menu {
        box-sizing: border-box;
        width: 15%;
    }

    #category_vinyl {
        box-sizing: border-box;
        width: 85%;
    }

    /* #category_page {
        display: flex;
    }  */
/*                         POUR METTRE LE MENU EN STICKY LEFT SIDE
     #sticky_menu a {
        padding: 5px 20px 5px 0;
        font-size: 1em;
    }
    section .frame:first {
        display: none;
    }
    
    #sticky_menu {
        position: sticky;
        top: 100px;
    }

    #sticky_menu ul {
        border: 1px solid #222831;
    }

    #sticky_menu ul li {
        text-align: left;
    }  */

    .frame_vinyl {
        width: 25%;
        flex: none;
        border: none;
    }
}   
    











